.accordion {
  border: 1px solid hsla(0, 1%, 45%, 0.867);
  width: 600px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #999494;
}

.accordion-icon {
  font-size: 18px;
  transition: transform 0.3s;
}

.accordion-content {
  padding: 10px;
  background-color: #fff;
}
