*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first{
    height: 500px;
    width: 1400px;
    display: flex;
    position: relative;
}
.bg{
    height: inherit;
    width: 1400px;
    position: absolute;
    filter: blur(2px);
}
.first1{
    height: inherit;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.37);
    z-index: 1;
    position: relative;
}
.design1{
    position: absolute;
    height: 100px;
    width: 150px;
    border: 1px solid white;
    z-index: 2;
    margin-left: 60px;
    margin-top: 20px;
}
.design2{
    position: absolute;
    height: 100px;
    width: 150px;
    border: 1px solid white;
    z-index: 2;
    margin-left: 70px;
    margin-top: 30px;
}
.dp{
    color: white;
    font-size: x-large;
    text-align: center;
    margin-top: 20px;
}
.list{
    margin-right: 90px;
    margin-top: 150px;
    color: white;
    font-size: medium;
    text-align: right;
}
.icons{
    text-align: center;
    margin-top: 80px;
    color: white;
    font-size: x-large;
}
.bot{
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: small;
}
.first2{
    height: inherit;
    width: 80%;
    background-color: transparent;
    z-index: 1;
    position: relative;
}
.intro{
    height: 300px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.444);
    z-index: 2;
    position: absolute;
    top: 90px;
    right: 140px;
}
.title{
    color: rgb(6, 82, 162);
    text-align: center;
    font-weight: 600;
    font-size: large;
    margin-top: 50px;
}
.description1{
    margin-left: 65px;
}
.second{
    display: flex;
    height: 400px;
    width: 1400px;
}
.second1{
    height: inherit;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.709);
}
.second2{
    display: flex;
    height: inherit;
    width: 80%;
    background-color: white;
}
.sub1{
    height: inherit;
    width: 50%;
    background-color: white;
}
.fa-scale-balanced{
    color: rgb(6, 82, 162);
    font-size: 50px;
    margin-top: 40px;
    margin-left: 40px;
}
.aboutus{
    color: rgb(6, 82, 162);
    font-size: x-large;
    margin-left: 35px;
    margin-top: 20px;
    font-weight: 600;
}
.disau{
    margin-left: 35px;
    margin-top: 20px;
    text-align: justify;
}
.sub2{
    height: inherit;
    width: 50%;
    background-color: white;
}
.fa-building{
    color: rgb(6, 82, 162);
    font-size: 50px;
    margin-top: 40px;
    margin-left: 40px;   
}
.ow{
    height: 450px;
    width: 1400px;
    display: flex;
}
.ow1{
    height: inherit;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.709);
}
.ow2{
    height: inherit;
    width: 80%;
    background-color: white;
    position: relative;
}
.pg1{
    height: 400px;
    width: 900px;
    border: 1px solid black;
    position: absolute;
    left: 35px;
}
.pg2{
    height: 400px;
    width: 900px;
    border: 1px solid black;
    position: absolute;
    left: 45px;
    top: 10px;
}
.dog{
    height: 290px;
    width: 200px;
    position: absolute;
    left: 10px;
}
.women{
    height: 290px;
    width: 200px;
    position: absolute;
    left: 230px;
}
.flower{
    height: 290px;
    width: 200px;
    position: absolute;
    left: 450px;
}
.girl{
    height: 290px;
    width: 200px;
    position: absolute;
    left: 670px;
}
#c1{
    position: absolute;
    top: 365px;
    left: 400px;
}
#c2{
    position: absolute;
    top: 365px;
    left: 430px;
    color: rgba(0, 0, 0, 0.635);
}
#c3{
    position: absolute;
    top: 365px;
    left: 460px;
    color: rgba(0, 0, 0, 0.635);
}
.ourclients{
    height: 400px;
    width: 1400px;
    display: flex;
}
.oc1{
    height: inherit;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.709);
}
.oc2{
    height: inherit;
    width: 80%;
    position: relative;
}
.clients{
    color: rgb(6, 82, 162);
    font-size: x-large;
    margin-left: 35px;
    margin-top: 20px;
    font-weight: 600;
}
.disclient{
    text-align: justify;
    margin-left: 35px;
}
.myob{
    position: absolute;
    height: 80px;
    width: 200px;
    border: 1px solid black;
    left: 35px;
    margin-top: 20px;
}
.belimo{
    position: absolute;
    height: 80px;
    width: 200px;
    border: 1px solid black;
    left: 245px;
    margin-top: 20px;
}
.lg{
    position: absolute;
    height: 80px;
    width: 200px;
    border: 1px solid black;
    left: 455px;
    margin-top: 20px;
}
.lilly{
    position: absolute;
    height: 80px;
    width: 200px;
    border: 1px solid black;
    left: 665px;
    margin-top: 20px;
}
.citrus{
    position: absolute;
    height: 80px;
    width: 200px;
    border: 1px solid black;
    left: 35px;
    margin-top: 120px;
}
.trustly{
    position: absolute;
    height: 80px;
    width: 200px;
    border: 1px solid black;
    left: 245px;
    margin-top: 120px;
}
.olden{
    position: absolute;
    height: 80px;
    width: 200px;
    border: 1px solid black;
    left: 455px;
    margin-top: 120px;
}
.grabyo{
    position: absolute;
    height: 80px;
    width: 200px;
    border: 1px solid black;
    left: 665px;
    margin-top: 120px;
}
.contact{
    height: 450px;
    width: 1400px;
    display: flex;
}
.ttu1{
    height: inherit;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.709);
}
.ttu2{
    height: inherit;
    width: 80%;
    display: flex;
}
.frames{
    height: inherit;
    width: 50%;
    position: relative;
}
.frame1{
    height: 300px;
    width: 500px;
    border: 1px solid black;
    position: absolute;
    top: 30px;
    left: 30px;
}
.frame2{
    height: 300px;
    width: 500px;
    border: 1px solid black;
    position: absolute;
    top: 40px;
    left: 40px;
}
.talktous{
    color: rgb(6, 82, 162);
    font-size: x-large;
    margin-left: 35px;
    margin-top: 20px;
    font-weight: 600;
}
.ttudis{
    margin-left: 35px;
}
.form{
    height: inherit;
    width: 50%;
}
.name{
    margin-left: 20px;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid black;
    width: 350px;
}
.email{
    margin-left: 20px;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid black;
    width: 350px;
}
.message{
    margin-left: 20px;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid black;
    width: 350px;
}
.send{
    margin-left: 300px;
    border: none;
    box-shadow: 2px 2px 10px black;
    height: 20px;
    width: 40px;
}
